@tailwind base;

@tailwind components;

@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track transparent */
  ::-webkit-scrollbar-track {
    background: rgba(244, 59, 59, 0);
    border-radius: 10px;
    /* display: none; */
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(136, 136, 136);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }